<!doctype html>
<html>
    <head>
        <title>Home</title>
    <head>
    <body>    
        <nav>
            <ul>
                <li><a href="{{ url_for('home.show') }}">Home</a></li>
            </ul>
        </nav>

        <h2>Add a customer</h2>
        <form action="{{ url_for('home.create') }}" method="POST">
            {{ add_form.csrf_token }}
            {{ add_form.name.label }} {{ add_form.name(size=50) }} <br>
            {{ add_form.address.label }} {{ add_form.address(size=50) }} <br>
            {{ add_form.email.label }} {{ add_form.email(size=50) }} <br>
            {{ add_form.phone_number.label }} {{ add_form.phone_number(size=50) }} <br>
            {{ add_form.submit() }}
        </form>
        
    </body>
</html>